<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:pattern {"slug":"expose-business/hero"} /-->
	<!-- wp:pattern {"slug":"expose-business/services"} /-->
	<!-- wp:pattern {"slug":"expose-business/about"} /-->
	<!-- wp:pattern {"slug":"expose-business/portfolio"} /-->
	<!-- wp:pattern {"slug":"expose-business/callback"} /-->
	<!-- wp:pattern {"slug":"expose-business/latest-posts"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->